// Color
$title-color: #31353e;
$title-dark-color: #191b29;
$brick-color: #dd4b2b;
$brick-dark-color: #612316;
$bg-color: #edeff1;
$orange-color: #d75d0e;
// Font
$primary-font: 'Roboto Slab', sans-serif;
$secondary-font: 'Roboto', sans-serif;
// Spacing
$wrapper: 1920px;
$container: 1200px;
$navbar-height: 100px;