section.header 
  .container 
    h1.header-heading Interger at tortor ut magna 
    h2.header-caption finibus lobortis sed quis tellus.
    ul.header-list  
      +item({
        src: "./images/img-header-1.png",
        title: "Tincidunt",
        desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint laboriosam! Impedit ipsum repellendus, fugiat beatae eaque libero deserunt"
      })
      +item({
        src: "./images/img-header-2.png",
        title: "Duis bibendum",
        desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint laboriosam! Impedit ipsum repellendus, fugiat beatae eaque libero deserunt"
      })
      +item({
        src: "./images/img-header-3.png",
        title: "Donec ligula",
        desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint laboriosam! Impedit ipsum repellendus, fugiat beatae eaque libero deserunt"
      })
    a(href="#").header-button Read more