section.navbar 
  .container 
    .navbar-left 
      span.navbar-left-brand Panakeia
      span.navbar-left-caption Free PSD template
    .navbar-toggle
      .navbar-toggle-item
      .navbar-toggle-item
      .navbar-toggle-item
    ul.navbar-menu 
      li.navbar-menu-item
        a(href="#").navbar-menu-item-link Fusce at
      li.navbar-menu-item 
        a(href="#").navbar-menu-item-link Facilisis
      li.navbar-menu-item 
        a(href="#").navbar-menu-item-link Ante donec
      li.navbar-menu-item 
        a(href="#").navbar-menu-item-link Blandit rhoncus
      li.navbar-menu-item 
        a(href="#").navbar-menu-item-link Placerat

