section.ourNews 
  .container 
    h2.ourNews-title Our news 
    p.ourNews-caption More
      i.fa.fa-arrow-right
    ul.ourNews-list 
      +item({
        src: "https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80",
        title: "Lorem, ipsum",
        desc: "Dolor sit amet consectetur adipisicing elit. Architecto, sint laboriosam! Impedit ipsum repellendus, fugiat beatae eaque libero deserunt"
      })
        a(href="#").ourNews-button Read more
      +item({
        src: "https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1680&q=80",
        title: "Lorem, ipsum",
        desc: "Dolor sit amet consectetur adipisicing elit. Architecto, sint laboriosam! Impedit ipsum repellendus, fugiat beatae eaque libero deserunt"
      }) 
        a(href="#").ourNews-button Read more
      +item({
        src: "https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1760&q=80",
        title: "Lorem, ipsum",
        desc: "Dolor sit amet consectetur adipisicing elit. Architecto, sint laboriosam! Impedit ipsum repellendus, fugiat beatae eaque libero deserunt"
      }) 
        a(href="#").ourNews-button Read more