.header {
  min-height: 132rem;
  margin-top: $navbar-height;
  background: linear-gradient(to top, rgba(#000, 0.8) 30%, rgba(#fff, 0)) ,url(../images/img-header-bg.png) center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    text-align: center;
  }
  &-heading {
    font-size: 7.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  &-caption {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 12.5rem;
  } 
  &-list {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-template-areas: "item1 item2 item3";
    grid-gap: 3rem;
    margin-bottom: 8rem;
  }
  .item {
    &-img {
      @include size(13.5rem);
      border-radius: 50%;
      border: 5px solid #fff;
      margin-bottom: 2.5rem;
      overflow: hidden;
    }
    &-title {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }
  &-button {
    display: inline-block;
    padding: 2rem 6rem;
    border-radius: 3rem;
    background-color: #fff;
    font-size: 1.8rem;
    color: $brick-dark-color;
  }
  @include maxWidth(1023px) {
    &-heading {
      font-size: 6.2rem;
    }
    &-caption {
      font-size: 2.5rem;
    }
    .item {
      &-title {
        font-size: 2.5rem;
      }
      &-img {
        @include size(12rem);
      }
    }
    &-button {
      padding: 1.5rem 5rem;
    }
    &-list {
      grid-gap: 2rem;
    }
  }
  @include maxWidth(767px) {
    min-height: 110rem;
    margin-top: 80px;
    &-heading {
      font-size: 4.2rem;
    }
    &-caption {
      font-size: 2.5rem;
      line-height: 1.2;
    }
    &-list {
      grid-template-columns: unset;
      grid-auto-columns: 100%;
      grid-auto-flow: column;
      overflow-x: auto;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
    }
    &-button {
      padding: 1.5rem 5rem;
    }
  }
}